<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.emmaguy.quicktilepocket"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_bookmark"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".feature.PocketQuickSettingsTileService"
            android:icon="@drawable/ic_bookmark"
            android:label="@string/unread_articles"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".feature.main.PocketRefreshService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".feature.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/callback_url_host"
                    android:scheme="@string/callback_url_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>